<div class="app-map-relative">
  <app-map-interactive/>
  <div class="app-search-absolute">
    <div class="container pt-2">
      <div class="card bg-light" style="--bs-bg-opacity: .9;">
        <div class="card-body ">
          <div class="row g-2 ">
            <div class="col-12">
              <app-search-bar/>
            </div>
            <div class="col-12">
              <app-city-list/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-selected-restaurant-absolute">
    <app-selected-restaurant/>
  </div>
</div>
