.app-search-absolute{
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 10000000000;
}

.app-map-relative{
  position: relative;
}

.app-selected-restaurant-absolute{
  position: absolute;
  bottom: 0;
  z-index: 10000000000;
  width: 100%;
}
