<p>resto-card works!</p>
<div class="container">

  <div class="card w-70 mx-auto">
    <div class="card-body">
      <!-- nom -->
      <div class="row ">
        <div class="col">
          <div class="form-outline">
            <p>Nom du restaurant</p>
          </div>
        </div>
      </div>

      <!-- adresse -->
      <div class="row ">
        <div class="col">
            <p>24 rue de Paris</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p>90909 Paris</p>
        </div>
      </div>
      <!-- Horraire -->
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">

          </th>
          <th scope="col">
            Lundi
          </th>
          <th scope="col">
            Mardi
          </th>
          <th scope="col">
            mercredi
          </th>
          <th scope="col">
            jeudi
          </th>
          <th scope="col">
            vendredi
          </th>
          <th scope="col">
            samedi
          </th>
          <th scope="col">
            dimanche
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            Matin
          </th>
          <td>
            fermé
          </td>
          <td>
            10h00 à 15h00
          </td>
          <td>
            10h00 à 15h00
          </td>
          <td>
            10h00 à 15h00
          </td>
          <td>
            10h00 à 15h00
          </td>
          <td>
            10h00 à 15h00
          </td>
          <td>
            10h00 à 15h00
          </td>
        </tr>
        <tr>
          <th scope="row">
            Après-midi
          </th>
          <td>
            17h00 à 22h00
          </td>
          <td>
            17h00 à 22h00
          </td>
          <td>
            17h00 à 22h00
          </td>
          <td>
            17h00 à 22h00
          </td>
          <td>
            17h00 à 22h00
          </td>
          <td>
            fermé
          </td>
          <td>
            17h00 à 22h00
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<p>resto-card works!</p>
