<div class="container">
  <div class="card bg-light"  style="--bs-bg-opacity: .9;">
    <div class="card-body">
      <div class="row g-1">
        <div class="col-12">
          <button type="button" class="btn btn-light btn-outline-dark w-100">
            Saint Etienne, Loire, 4200 France
          </button>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-light btn-outline-dark w-100">
            Saint Etienne du Rouveray, Normandie, 76800 France
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


